.custom-search {
  .input-group-text {
    border-radius: 0.75rem 0 0 0.75rem;
  }

  .form-control {
    border-radius: 0 0.75rem 0.75rem 0;
  }
}

.no-border-input-group {
  .form-control {
    &:focus {
      background-color: transparent;
    }
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
