.sub-title {
  justify-content: space-between;
  width: 100%;
}

.btn-form {
  width: 271px;
  height: 46px;
}

.lines {
  border-top: 1px solid var(--gray-400);
}

.image-container {
  width: 180px; /* Tamaño del contenedor */
  height: 180px;
  border-radius: 50%; /* Hace que el contenedor sea redondo */
  overflow: hidden; /* Oculta los bordes de la imagen */
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta la imagen para que se vea bien dentro del círculo */
}

.fingerprint {
  border: 1px solid var(--gray-400);
  border-radius: 8px;
  padding-top: 30px;
  padding-left: 13px;
  height: 100px;
  width: 70px;
}

.fingerprint:hover {
  background-color: var(--blue-300);
  cursor: pointer;
}
