// IsExpanded
.y-container {
  width: 274px;
}

.y-body {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 279.78px;
  justify-content: space-between;
  padding-left: 23px;

  img {
    width: 157.92px;
    height: 35px;
    flex-shrink: 0;
  }
}

.y-main {
  width: 120px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  margin-top: 50px;
}

// NO IsExpanded
.n-container {
  width: 100px;
}

.n-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 73px;
  justify-content: space-between;
  padding-left: 20px;

  img {
    width: 33.96px;
    height: 35px;
    margin-left: 15px;
  }
}

.n-main {
  width: 58px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 3px;
}

.mt-37px {
  margin-top: 37px;
}

.mt--6px {
  margin-top: -6px;
}
