.body {
  padding: 37px 35px 35px 35px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mt-26 {
  margin-top: 26px;
}

.gp-16 {
  gap: 16px;
}

.image-container {
  width: 150px; /* Tamaño del contenedor */
  height: 150px;
  border-radius: 50%; /* Hace que el contenedor sea redondo */
  overflow: hidden; /* Oculta los bordes de la imagen */
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta la imagen para que se vea bien dentro del círculo */
}

.point {
  border-radius: 50px;
  width: 15px;
  height: 15px;
}

.active {
  background: var(--primary-400);
}

.inactive {
  background: var(--red-400);
}

.item {
  height: 35px;
  align-items: center;
}

@media (max-width: 578px) {
  .item {
    height: 50px;
  }
}

.lines {
  border-top: 1px solid var(--gray-400);
}

.toggle-switch {
  width: 40px;
  height: 24px;
  background-color: var(--gray-400);
  border-radius: 12px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.toggle-switch.active {
  background-color: var(--primary-color);
}

.toggle-circle {
  width: 18px;
  height: 18px;
  background-color: var(--surface-0);
  border-radius: 50%;
  position: absolute;
  top: 3px;
  left: 3px;
  transition: left 0.3s ease;
}

.toggle-switch.active .toggle-circle {
  left: 19px;
}
