<div class="flex w-screen h-screen overflow-hidden">
  <div
    *ngIf="showSidebar"
    class="flex-initial top-0 sticky bg-primary fadeinleft animation-duration-1000 z-0 hidden md:block"
  >
    <sidebar [version]="version" [moduleCode]="moduleCode"></sidebar>
  </div>

  <div
    *ngIf="showSide"
    class="bg-primary fadeinleft animation-duration-1000 block md:hidden md:relative md:w-auto md:h-auto fixed h-full top-0 left-0 z-5"
  >
    <sidebar
      [version]="version"
      [moduleCode]="moduleCode"
      (showSidebar)="showSide = $event"
    ></sidebar>
  </div>

  <div class="flex flex-column overflow-hidden w-full">
    <div class="fadeindown animation-duration-1000">
      <menubar
        *ngIf="showMenubar"
        [title]="tituloMenuBar"
        [isLogo]="isLogoMenuBar"
        (showSidebar)="showSide = $event"
      ></menubar>
    </div>
    <div
      [ngClass]="{ 'p-1': isMargin }"
      class="overflow-auto fadeinright animation-duration-1000 h-full z-2 mx-2 lg:mx-4"
      style="scrollbar-width: none"
    >
      <ng-content></ng-content>
    </div>
    <div *ngIf="showFooter" class="footer"></div>
  </div>
</div>
