.custom-offcanvas {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  max-width: 600px;
  background: var(--bs-body-bg);
  z-index: 1060; // Keep it above other offcanvases
  transition: right 0.3s ease-in-out;
  display: flex;
  flex-direction: column;

  &.open {
    right: 0;
  }

  @media (max-width: 500px) {
    width: 100%;
    right: -100%;
  }

  .offcanvas-body {
    overflow-y: auto;
    flex: 1;

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: rgba(0, 0, 0, 0.1);
      border-radius: 10px;
    }
  }
}

.offcanvas-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1055;
}

[data-bs-theme="dark"] {
  .custom-offcanvas .offcanvas-body::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.1);
  }
}
