<div>
  <div [ngSwitch]="type">
    <div *ngSwitchCase="'line'">
      <div *ngIf="!readonly" class="flex mt-2">
        <div
          *ngIf="title.length > 0"
          class="flex justify-content-between mb-3 mt-2 mr-3"
        >
          <h5 class="m-0 text-bold">{{ title }}</h5>
        </div>
        <div class="flex align-items-center">
          <p-radioButton
            id="{{ name }}"
            [name]="name"
            [ngModel]="model"
            (ngModelChange)="onModelChange($event)"
            (onClick)="updateControl()"
            [value]="true"
            [inputId]="name"
            [disabled]="disabled"
            (onBlur)="onBlur.emit($event)"
            [attr.aria.required]="required"
          ></p-radioButton>
          <h4
            for="opcionA"
            class="ml-3"
            [ngClass]="{
              'title-regular ml-3': regular,
              'text-bold ml-2': !regular
            }"
            [style]="{ color: colorOption }"
          >
            {{ opcionTrue }}
          </h4>
        </div>
        <div style="width: 40px"></div>
        <div class="flex align-items-center">
          <p-radioButton
            id="{{ name }}-false"
            [name]="name"
            [ngModel]="model"
            (ngModelChange)="onModelChange($event)"
            (onClick)="updateControl()"
            [value]="false"
            [inputId]="name"
            [disabled]="disabled"
            (onBlur)="onBlur.emit($event)"
            [attr.aria.required]="required"
          ></p-radioButton>
          <h4
            for="opcionB"
            class="ml-3"
            [ngClass]="{
              'title-regular ml-3': regular,
              'text-bold ml-2': !regular
            }"
            [style]="{ color: colorOption }"
          >
            {{ opcionFalse }}
          </h4>
        </div>
      </div>

      <div *ngIf="readonly" class="mb-4 margin-readonly">
        <p class="m-0 body4">{{ model ? "Yes" : "No" }}</p>
      </div>
    </div>

    <div *ngSwitchCase="'column'">
      <div
        class="mb-3 {{ classGeneral }}"
        [style]="'margin-top: 20px;' + styleGeneral"
      >
        <div
          *ngIf="title.length > 0"
          class="flex justify-content-between mb-3 mt-2"
        >
          <h5 class="m-0 text-bold">{{ title }}</h5>
        </div>
        <div>
          <div
            *ngIf="!readonly"
            class="flex align-items-center m-1 mb-2 {{ classContainer }}"
          >
            <p-radioButton
              id="{{ name }}"
              [name]="name"
              class="{{ classRadio }}"
              [ngModel]="model"
              (ngModelChange)="onModelChange($event)"
              (onClick)="updateControl()"
              [value]="valueTrue"
              [inputId]="name"
              [disabled]="disabled"
              (onBlur)="onBlur.emit($event)"
              [attr.aria.required]="required"
            ></p-radioButton>
            <h4
              for="opcionA"
              class="mr-6 width-192 {{ classTitle }}"
              [ngClass]="{
                'title-regular ml-3': regular,
                'text-bold ml-2': !regular
              }"
              [style]="{ color: colorOption }"
            >
              {{ opcionTrue }}
            </h4>
          </div>
          <h5 class="ml-5 pl-1 text-regular" *ngIf="istextA">{{ textA }}</h5>
        </div>
        <div>
          <div
            *ngIf="!readonly"
            class="flex align-items-center m-1 mt-2 {{ classContainer }}"
          >
            <p-radioButton
              id="{{ name }}-false"
              [name]="name"
              [ngModel]="model"
              (ngModelChange)="onModelChange($event)"
              (onClick)="updateControl()"
              [value]="valueFalse"
              class="{{ classRadio }}"
              [inputId]="name"
              [disabled]="disabled"
              (onBlur)="onBlur.emit($event)"
              [attr.aria.required]="required"
            ></p-radioButton>
            <h4
              for="opcionB"
              class="width-192 {{ classTitle }}"
              [ngClass]="{
                'title-regular ml-3': regular,
                'text-bold ml-2': !regular
              }"
              [style]="{ color: colorOption }"
            >
              {{ opcionFalse }}
            </h4>
          </div>
          <h5 class="text-regular ml-5 pl-1" *ngIf="istextB">{{ textB }}</h5>
        </div>
      </div>
      <div *ngIf="readonly" class="mb-4 margin-readonly">
        <p class="m-0 body4">{{ model ? "Yes" : "No" }}</p>
      </div>
    </div>

    <div *ngSwitchCase="'options-inline'">
      <div class="mb-3" style="margin-top: 20px">
        <div
          *ngIf="title.length > 0"
          class="flex justify-content-between mb-1 mt-2"
        >
          <h5 class="m-0 text-bold">{{ title }}</h5>
        </div>
        <div
          *ngIf="!readonly"
          class="flex"
          [ngClass]="{
            borderRadio: border,
            'border-red-400': formGroup.get(name)?.invalid
          }"
        >
          <div class="flex align-items-center m-1">
            <p-radioButton
              id="{{ name }}"
              [name]="name"
              [ngModel]="model"
              (ngModelChange)="onModelChange($event)"
              (onClick)="updateControl()"
              [value]="true"
              [inputId]="name"
              [disabled]="disabled"
              (onBlur)="onBlur.emit($event)"
              [attr.aria.required]="required"
            ></p-radioButton>
            <h4
              for="opcionA"
              class="ml-2 text-regular mr-6"
              [style]="{ color: colorOption }"
            >
              {{ opcionTrue }}
            </h4>
          </div>

          <div *ngIf="!readonly" class="flex align-items-center">
            <p-radioButton
              id="{{ name }}-false"
              [name]="name"
              [ngModel]="model"
              (ngModelChange)="onModelChange($event)"
              (onClick)="updateControl()"
              [value]="false"
              [inputId]="name"
              [disabled]="disabled"
              (onBlur)="onBlur.emit($event)"
              [attr.aria.required]="required"
            ></p-radioButton>
            <h4
              for="opcionB"
              class="ml-2 text-regular"
              [style]="{ color: colorOption }"
            >
              {{ opcionFalse }}
            </h4>
          </div>
        </div>
      </div>
      <div *ngIf="readonly" class="mb-4 margin-readonly">
        <p class="m-0 body4">{{ model ? "Yes" : "No" }}</p>
      </div>
    </div>
  </div>
</div>
