.image-container {
  width: 40px; /* Tamaño del contenedor */
  height: 40px;
  border-radius: 50%; /* Hace que el contenedor sea redondo */
  overflow: hidden; /* Oculta los bordes de la imagen */
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta la imagen para que se vea bien dentro del círculo */
}

.menubar {
  height: 102px;
}

.menu {
  width: 100px;
  height: 102px;
}

@media (max-width: 768px) {
  .menubar {
    height: 82px;
  }
  .menu {
    height: 82px;
  }
}

@media (max-width: 568px) {
  .menubar {
    height: 72px;
  }
  .menu {
    height: 72px;
  }
}
