.container {
  background: var(--surface-a);
  border: 1px solid var(--gray-150);
  border-radius: 6px;
  padding-top: 35px;
  padding-bottom: 31px;
  min-height: 258px;
  width: 100%;
  min-width: 220px;
  cursor: pointer;
}

.container:hover {
  background: var(--surface-100);
}

.point {
  border-radius: 50px;
  width: 15px;
  height: 15px;
}

.active {
  background: var(--primary-400);
}

.inactive {
  background: var(--red-400);
}

.gp-40 {
  gap: 40px;
}
