<!-- Overlay para bloquear el fondo cuando el sidebar está abierto -->
<div
  *ngIf="visible"
  class="overlay"
  (click)="closeSidebar($event)"
  onkeypress
></div>

<!-- Contenedor del Sidebar en la parte inferior -->
<div
  class="sidebar"
  [ngClass]="{ show: visible }"
  (click)="$event.stopPropagation()"
  onkeypress
>
  <!-- 🔹 Header Fijo (Título + Botón Cerrar) -->
  <div class="sidebar-header">
    <p class="body5 text-semibold">{{ title }}</p>
    <i
      class="pi pi-times close-btn"
      (click)="closeSidebar($event)"
      onkeypress
      style="font-size: 13px"
    ></i>
  </div>

  <!-- 🔹 Contenedor del contenido con scroll -->
  <div class="sidebar-content">
    <ng-content></ng-content>
  </div>
</div>
