.completed {
  background: rgba(70.92, 223.96, 122.95, 0.6);
  color: #10a442;
  border-radius: 22px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: inline-flex;
  font-size: 16px;
  font-family: "BNPP Sans Condensed Bold", sans-serif;
  font-weight: 700;
  line-height: 21px;
}

.partial {
  background: #e5ac18;
  color: #90711f;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: inline-flex;
  font-size: 16px;
  font-family: "BNPP Sans Condensed Bold", sans-serif;
  font-weight: 700;
  line-height: 21px;
}

.pending {
  background: #ee3510;
  color: #9a2204;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: inline-flex;
  font-size: 16px;
  font-family: "BNPP Sans Condensed Bold", sans-serif;
  font-weight: 700;
  line-height: 21px;
}

.cancelled {
  background: #bcbcbc;
  color: #5f5f5f;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: inline-flex;
  font-size: 16px;
  font-family: "BNPP Sans Condensed Bold", sans-serif;
  font-weight: 700;
  line-height: 21px;
}

.tag {
  border-radius: 22px;
  display: inline-flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 120px !important;
  height: 33px !important;
}

.cell-content {
  display: block;
  max-width: 304px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 20px;
  color: var(--text-color) !important;
}

.close-button {
  background: transparent !important;
  border: none !important;
}

.pos-close-button {
  flex-direction: row-reverse;
}

.cdf-esc.cdf-esc-big {
  width: 32px !important;
  height: 32px !important;
}

.filter-title {
  font-size: 20px;
  margin-top: -2px;
}

.column-filter {
  background: transparent !important;
  border: none;
  margin-left: 5px;
}

.skeleton {
  padding-left: 30px;
  padding-right: 30px;
}
