.container {
  background: var(--surface-a);
  border: 1px solid var(--gray-150);
  border-radius: 6px;
  padding-top: 35px;
  padding-bottom: 31px;
  height: 238px;
  width: 100%;
  min-width: 220px;
  cursor: pointer;
}

.container:hover {
  background: var(--surface-100);
}

.point {
  border-radius: 50px;
  width: 15px;
  height: 15px;
}

.active {
  background: var(--primary-400);
}

.inactive {
  background: var(--red-400);
}

.gp-40 {
  gap: 40px;
}

.toggle-switch {
  width: 40px;
  height: 24px;
  background-color: var(--gray-400);
  border-radius: 12px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.toggle-switch.active {
  background-color: var(--primary-color);
}

.toggle-circle {
  width: 18px;
  height: 18px;
  background-color: var(--surface-0);
  border-radius: 50%;
  position: absolute;
  top: 3px;
  left: 3px;
  transition: left 0.3s ease;
}

.toggle-switch.active .toggle-circle {
  left: 19px;
}

.lines {
  border-top: 1px solid var(--gray-400);
}
