<div
  class="notification-card p-3 border-bottom position-relative cursor-pointer transition-all"
  [class.unread]="!notification.isRead"
  [attr.title]="!notification.isRead ? 'Marcar como leído' : null"
  [attr.data-bs-toggle]="!notification.isRead ? 'tooltip' : null"
  data-bs-placement="left"
  (click)="onMarkRead()"
  onkeypress
>
  <div class="d-flex align-items-start gap-3">
    <div class="icon-wrapper fs-4 mt-1">
      <i class="fa-solid" [ngClass]="getIconClass()"></i>
    </div>

    <div class="content-wrapper flex-grow-1">
      <h6 class="mb-1 fw-bold small text-primary">
        {{ translatedType }}
      </h6>

      <p class="mb-1 smaller text-body">
        {{ notification.message }}
      </p>

      <span class="text-secondary smallest opacity-75">
        {{ notification.creationDate | date: "short" }}
      </span>
    </div>

    <!-- Right-side Actions/Indicators -->
    <div
      class="actions-column d-flex flex-column align-items-center justify-content-start gap-3"
    >
      <button
        class="btn btn-link btn-sm p-0 text-secondary opacity-50 hover-opacity-100"
        (click)="onRemove($event)"
        data-bs-toggle="tooltip"
        data-bs-placement="top"
        title="Eliminar"
      >
        <i class="fa-solid fa-xmark"></i>
      </button>

      @if (!notification.isRead) {
        <div class="unread-dot"></div>
      }
    </div>
  </div>
</div>
