.custom-dropdown {
  position: relative;
  min-width: 240px;
}

.dropdown-content {
  position: absolute;
  top: 100%;
  left: 0;
  width: 99%;
  min-height: 380px;
  background-color: var(--surface-a);
  border: 1px solid var(--gray-400);
  border-radius: 8px;
  margin-top: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  z-index: 1000;
  border-width: 0px, 1px, 1px, 1px;
}

.dropdown-footer {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  padding: 15px;
  padding-top: 5px;
}
