<div class="flex">
  <div class="protection-info">
    <div class="protection-info-header bg-primary">
      <h3 class="m-0 text-gray-100 text-semibold">Pagar</h3>
    </div>
    <div class="protection-info-body">
      <form class="grid font-bold w-full" [formGroup]="paymentForm">
        <div class="field col-12 py-0">
          <g-radio-button
            title="Realizar pago*"
            [model]="payment.now"
            [opcionTrue]="'Si'"
            [opcionFalse]="'No'"
            name="now"
            type="options-inline"
            (modelChange)="setNow($event)"
            [required]="true"
            [formGroup]="paymentForm"
          >
          </g-radio-button>
        </div>
        <div
          *ngIf="payment.now"
          class="field col-12 py-0"
          [ngClass]="{ 'mt--15px': payment.now }"
        >
          <label for="payment">Método de pago*</label>
          <p-dropdown
            id="payment"
            [options]="listPayment"
            optionLabel="paymentMethodName"
            optionValue="paymentMethodId"
            [style]="{ width: '100%' }"
            [(ngModel)]="payment.paymentMethodId"
            placeholder="Selecciona"
            formControlName="payment"
            [ngClass]="{ 'ng-invalid ng-dirty': isInvalid('payment') }"
            [disabled]="!payment.now"
            (ngModelChange)="modelEmiter.emit(payment)"
            appendTo="body"
          ></p-dropdown>
          <small *ngIf="isInvalid('payment')" class="p-error font-normal block">
            <i class="pi pi-info-circle mr-2"></i>{{ errorText }}
          </small>
        </div>
        <div class="field col-12 py-0" [ngClass]="{ 'mt--15px': !payment.now }">
          <label for="price">{{
            payment.now ? "Total a pagar*" : "Total deuda*"
          }}</label>
          <p-inputNumber
            pInputNumber
            id="price"
            [min]="0"
            [max]="maxValue!"
            [maxFractionDigits]="0"
            class="w-full"
            [style]="{ width: '100%' }"
            [(ngModel)]="payment.amount"
            formControlName="price"
            (ngModelChange)="setValue($event)"
            [ngClass]="{ 'ng-invalid ng-dirty': isInvalid('price') }"
          ></p-inputNumber>
          <small *ngIf="isInvalid('price')" class="p-error font-normal block"
            ><i class="pi pi-info-circle mr-2"></i>{{ errorText }}
          </small>
        </div>
      </form>
    </div>
  </div>
</div>
