.option-space {
  width: 80%;
}

.icon-container {
  background: #ffffff;
  border-radius: 100%;
  width: 58px;
  height: 58px;
  margin-top: 20px;
  transition: 0.7s;
  transform-origin: top right;
}

.icon-dims {
  width: 35px;
  height: 35px;
}

.option {
  width: 380px;
  height: 168px;
  position: relative;
  background: #ffffff;
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;
}

@media (max-width: 768px) {
  .option {
    width: 300px;
  }
}

@media (max-width: 568px) {
  .option {
    width: 280px;
  }
}

@media (max-width: 468px) {
  .option {
    width: 240px;
  }
}

.option-icon {
  height: 70%;
  top: 0;
  padding-left: 20px;
  border-radius: 15px 15px 15px 0px;
  border: 2px solid
    linear-gradient(
      341deg,
      var(--primary-200) 1.37%,
      var(--primary-color) 98.63%
    );
  background: linear-gradient(
    341deg,
    var(--primary-200) 1.37%,
    var(--primary-color) 98.63%
  );
}

.option-button {
  height: 30%;
  bottom: 0;
  border-radius: 0px 0px 15px 15px;
  background: #ffffff;
}

.option-icon,
.option-button {
  position: absolute;
  width: 100%;
  transition: 0.7s ease-in-out;
  transform-origin: top right;
}

.option:hover .option-icon {
  height: 40%;
}

.option:hover .option-icon .icon-container {
  background: #ffffff;
  border-radius: 100%;
  transform: scale(0.7);
  margin-top: 15px;
}

.option:hover .option-icon .icon-container .icon-dims {
  width: 25px;
  height: 25px;
}

.option:hover .option-button {
  height: 60%;
}

.option-button:hover .information {
  display: block;
}

.option-icon:hover + .option-button .information {
  display: block;
}

.information {
  display: none;
}
