<div class="option">
  <div class="option-icon flex" [routerLink]="link ? link : null">
    <h3
      class="m-0 flex flex-column-reverse mb-3 option-space text-white text-semibold"
      style="line-height: 25px"
    >
      {{ title }}
    </h3>
    <div class="flex justify-content-end mr-4">
      <i
        class="flex justify-content-center align-items-center icon-container {{
          icon
        }}"
        style="font-size: 28px"
      >
      </i>
    </div>
  </div>
  <div class="option-button">
    <h5 class="m-0 pl-3 pt-3 pb-1 mb-1">Detalle</h5>
    <div class="information">
      <div class="flex justify-content-between">
        <p class="m-0 ml-3 mb-1">Hoy:</p>
        <p class="m-0 mr-5 mb-1">{{ today }}</p>
      </div>
      <div class="flex justify-content-between">
        <p class="m-0 ml-3">Ayer:</p>
        <p class="m-0 mr-5 mb-1">{{ yesterday }}</p>
      </div>
    </div>
  </div>
</div>
