<!-- Modal Access -->
<g-modal
  [show]="show"
  [closeOnEscape]="false"
  [showCloseIcon]="true"
  [showHeader]="false"
  width="760px"
  height="auto"
  (showChange)="show = $event; showEmiter.emit(false)"
>
  <ng-template pTemplate="content">
    <div class="pt-3 md:pt-7 pb-3 md:pb-5 px-4 md:px-6">
      <div>
        <div class="flex mt-2 flex-column lg:flex-row">
          <div class="flex justify-content-center mb-1 mr-1 lg:mr-4">
            <div class="snapshot image-container">
              <img src="{{ partner?.photo }}" alt />
            </div>
          </div>
          <div class="flex flex-grow-1 flex-column">
            <div class="flex justify-content-between">
              <div>
                <h1 class="m-0 title-semibold" style="line-height: 35px">
                  {{ partner?.name }}
                </h1>
              </div>
              <div
                class="flex cursor-pointer"
                (click)="show = false; showEmiter.emit(false)"
                onkeypress
              >
                <i
                  *ngIf="accessValid"
                  class="fa-solid fa-thumbs-up text-primary-400"
                  style="font-size: 35px"
                ></i>
                <i
                  *ngIf="!accessValid"
                  class="fa-solid fa-thumbs-down text-red-400"
                  style="font-size: 35px"
                ></i>
              </div>
            </div>
            <div class="flex flex-wrap mt-1">
              <div class="flex">
                <i class="fa-regular fa-address-card mr-2 text-gray-400"></i>
                <p class="m-0 body5 text-gray-400 mr-4">
                  {{
                    partner?.documentNumber
                      | currency : "COP" : "" : "1.0-0" : "es-CO"
                  }}
                </p>
              </div>
              <div class="flex">
                <i class="fa-solid fa-phone-flip mr-2 text-gray-400"></i>
                <p class="m-0 body5 text-gray-400">
                  {{ partner?.cellPhone }}
                </p>
              </div>
            </div>
            <div class="flex flex-column mt-3">
              <div
                *ngFor="let membership of listMembership"
                class="flex flex-wrap mt-1"
              >
                <i
                  class="fa-solid fa-clipboard-check mr-2"
                  [ngClass]="{
                    'text-primary-400': membership.status == 'Active',
                    'text-red-400': membership.status == 'Inactive'
                  }"
                ></i>
                <p class="m-0 body6 text-gray-400 mr-2 text-bold">
                  {{ membership.membership.name }}
                </p>
                <p class="m-0 body6 text-gray-400 mr-3" style="font-size: 13px">
                  Fecha de finalización:
                  {{ membership.expirationDate | date : "dd/MM/yyyy" }}
                </p>
                <p
                  *ngIf="membership.cantSessions"
                  class="m-0 body6 text-gray-400"
                  style="font-size: 13px"
                >
                  Tiene: {{ membership.cantSessions }} sesiones
                </p>
              </div>
              <div *ngIf="listMembership.length == 0" class="flex mt-6"></div>
            </div>
            <div
              *ngIf="
                listAccessControl.length > 1 && lastAccess?.status === 'Granted'
              "
              class="flex flex-wrap mt-4"
            >
              <div class="flex">
                <i
                  class="fa-solid fa-person-running text-primary-400 mr-2"
                  style="font-size: 18px; margin-top: 3px"
                ></i>
                <p class="m-0 text-primary-400 mr-1 text-bold">
                  Ultimo ingreso:
                </p>
              </div>
              <div class="flex">
                <p class="m-0 text-primary-400">
                  {{ lastAccess?.accessTime | date : "dd/MM/yyyy hh:mm a" }}
                </p>
              </div>
            </div>
            <div
              *ngIf="
                listAccessControl.length == 1 &&
                lastAccess?.status === 'Granted'
              "
              class="flex mt-5"
            >
              <i
                class="fa-solid fa-person-running text-primary-400 mr-2"
                style="font-size: 18px; margin-top: 3px"
              ></i>
              <p class="m-0 text-primary-400 mr-1 text-bold">
                Bienvenido! Este es su primer ingreso.
              </p>
            </div>
            <div *ngIf="lastAccess?.status === 'Denied'" class="flex mt-4">
              <i
                class="fa-solid fa-person-running text-red-400 mr-2"
                style="font-size: 18px; margin-top: 3px"
              ></i>
              <p class="m-0 text-red-400 mr-1 text-bold">
                Alto! No tiene una membresía activa.
              </p>
            </div>
          </div>
        </div>
        <div class="mt-4 pt-2">
          <p-progressBar
            [color]="accessValid ? 'var(--primary-400)' : 'var(--red-400)'"
            [style]="{ height: '6px' }"
            [showValue]="false"
            [value]="value"
          />
        </div>
      </div>
    </div>
  </ng-template>
</g-modal>
