<div
  class="container px-3 md:px-5 lg:px-6"
  (click)="clickEmiter.emit(true)"
  onkeypress
>
  <div>
    <div class="flex justify-content-between">
      <div class="flex">
        <div
          class="mr-2 mt-1 point"
          [ngClass]="{
                active: data?.status! === 'Active',
                inactive: data?.status! === 'Inactive',
              }"
        ></div>
        <p class="m-0 text-gray-400">
          {{
            data?.status! === "Active"
              ? capitalize("Activo")
              : capitalize("Inactivo")
          }}
        </p>
      </div>
      <div class="flex">
        <i
          class="fa-solid fa-pen-to-square text-primary"
          style="margin-top: 2px; font-size: 25px"
          (click)="btnGoPartner(data?.id!)"
          onkeypress
        ></i>
      </div>
    </div>
    <div class="flex mt-2 flex-column lg:flex-row">
      <div class="flex justify-content-center mr-1 lg:mr-4 mb-1">
        <div class="snapshot image-container">
          <img src="{{ data?.photo }}" alt />
        </div>
      </div>
      <div class="flex flex-grow-1 flex-column">
        <h2 class="m-0 title-medium" style="line-height: 30px">
          {{ data?.name }}
        </h2>
        <div class="flex flex-wrap mt-1">
          <div class="flex">
            <i class="fa-regular fa-address-card mr-2 text-gray-400"></i>
            <p class="m-0 body5 text-gray-400 mr-4">
              {{
                data?.documentNumber | currency : "COP" : "" : "1.0-0" : "es-CO"
              }}
            </p>
          </div>
          <div class="flex">
            <i class="fa-solid fa-phone-flip mr-2 text-gray-400"></i>
            <p class="m-0 body5 text-gray-400">
              {{ data?.cellPhone }}
            </p>
          </div>
        </div>
        <div class="flex flex-column mt-3">
          <div
            *ngFor="let membership of listMembership"
            class="flex flex-wrap mt-1"
          >
            <div class="flex">
              <i
                class="fa-solid fa-clipboard-check mr-2"
                [ngClass]="{
                  'text-primary-400': membership.status == 'Active',
                  'text-red-400': membership.status == 'Inactive'
                }"
              ></i>
              <p class="m-0 body6 text-gray-400 mr-2 text-bold">
                {{ membership.membership.name }}
              </p>
            </div>
            <p class="m-0 body6 text-gray-400 mr-3" style="font-size: 13px">
              Fecha de finalización:
              {{ membership.expirationDate | date : "dd/MM/yyyy" }}
            </p>
            <p
              *ngIf="membership.cantSessions"
              class="m-0 body6 text-gray-400"
              style="font-size: 13px"
            >
              Tiene: {{ membership.cantSessions }} sesiones
            </p>
          </div>
          <div *ngIf="listMembership.length == 1" class="flex mt-4"></div>
          <div *ngIf="listMembership.length == 0" class="flex mt-6"></div>
        </div>
        <div *ngIf="showOptions" class="flex flex-wrap mt-3">
          <div
            class="fingerprint normal mr-1"
            (click)="btnGoSetMembership($event)"
            onkeypress
          >
            <i
              class="fa-solid fa-clipboard-check text-primary mr-2"
              style="font-size: 18px"
            ></i>
            <p class="m-0 text-primary">Membresía</p>
          </div>
          <div
            class="fingerprint small mr-1"
            (click)="btnGoSetRoutine($event)"
            onkeypress
          >
            <i
              class="fa-solid fa-child-reaching text-primary mr-2"
              style="font-size: 18px"
            ></i>
            <p class="m-0 text-primary">Rutina</p>
          </div>
          <div
            class="fingerprint small mr-1"
            (click)="btnGoSale($event)"
            onkeypress
          >
            <i
              class="fa-solid fa-sack-dollar text-primary mr-2"
              style="font-size: 18px"
            ></i>
            <p class="m-0 text-primary">Vender</p>
          </div>
        </div>
        <div
          *ngIf="!showOptions && listAccessControl.length > 0"
          class="flex flex-wrap mt-5"
        >
          <div class="flex">
            <i
              class="fa-solid fa-person-running mr-2"
              [ngClass]="{
                'text-primary-400': lastAccess!.status === 'Granted',
                'text-red-400': lastAccess!.status === 'Denied'
              }"
              style="font-size: 18px; margin-top: 3px"
            ></i>
            <p
              class="m-0 mr-1 text-bold"
              [ngClass]="{
                'text-primary-400': lastAccess!.status === 'Granted',
                'text-red-400': lastAccess!.status === 'Denied'
              }"
            >
              Ultimo ingreso:
            </p>
          </div>

          <p
            class="m-0"
            [ngClass]="{
              'text-primary-400': lastAccess!.status === 'Granted',
              'text-red-400': lastAccess!.status === 'Denied'
            }"
          >
            {{ lastAccess!.accessTime | date : "dd/MM/yyyy hh:mm a" }} -
            {{ lastAccess!.status === "Granted" ? "Permitido" : "Denegado" }}
          </p>
        </div>
        <div
          *ngIf="!showOptions && listAccessControl.length == 0"
          class="flex mt-5"
        >
          <i
            class="fa-solid fa-person-running text-primary-400 mr-2"
            style="font-size: 18px; margin-top: 3px"
          ></i>
          <p class="m-0 text-primary-400 mr-1 text-bold">
            Aún no ha ingresado al gimnasio.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<g-card-set-membership
  [show]="showSetMembership"
  [partner]="data!"
  [goToPartners]="true"
  (showEmiter)="showSetMembership = $event"
  (updateEmiter)="updateEmiter.emit($event)"
></g-card-set-membership>
