.container {
  background: var(--surface-a);
  border: 1px solid var(--gray-150);
  border-radius: 6px;
  padding-top: 22px;
  padding-bottom: 18px;
  min-height: 258px;
  width: 100%;
  min-width: 220px;
  cursor: pointer;
}

.container:hover {
  background: var(--surface-100);
}

.point {
  border-radius: 50px;
  width: 15px;
  height: 15px;
}

.active {
  background: var(--primary-400);
}

.inactive {
  background: var(--red-400);
}

.gp-40 {
  gap: 40px;
}

.image-container {
  width: 110px; /* Tamaño del contenedor */
  height: 110px;
  border-radius: 50%; /* Hace que el contenedor sea redondo */
  overflow: hidden; /* Oculta los bordes de la imagen */
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta la imagen para que se vea bien dentro del círculo */
}

.fingerprint {
  border: 1px solid var(--primary-500);
  border-radius: 8px;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.normal {
  height: 38px;
  width: 126px;
}

.small {
  height: 38px;
  width: 96px;
}

.fingerprint:hover {
  background-color: var(--blue-300);
  cursor: pointer;
}
